<%= form_for(@fun_fact) do |f| %>
  <% if @fun_fact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fun_fact.errors.count, "error") %> prohibited this fun_fact from being saved:</h2>

      <ul>
      <% @fun_fact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
