<!DOCTYPE html>
<html>
<head>
  <title>RailsAppHomework</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= link_to "Home", root_path %>
	<%= link_to "Project Ideas", project_ideas_path %>
	<%= link_to "Fun Facts About Me", fun_facts_path %>
	

<%= yield %>

</body>
</html>
