<h1>Most Recent Tweets</h1>

<hr />

<table>
	<% @tweets.each do |tweet| %>
	<tr><td>"<%= tweet.content %>"
		<br />@<%= tweet.handle %>
	</td>
	<td><%= link_to 'Show', tweet %><br /><%= link_to 'Edit', edit_tweet_path(tweet) %> </td></tr>
	</td></tr>
	<% end %>
</table>
<br />
<%= link_to 'Create a new tweet', new_tweet_path %>